<!doctype html>
<html>
<head>
    <title>Bucket List</title>
</head>
<body>
    <h2>Reload this page to see what's in your bucket</h2>
    <h3>Remember that reports take a while, so keep checking</h3>
    <table>
        <tr>
            <th>file name</th>
            <th>last modified</th>
        </tr>
        {% for obj in objects %}
        <tr>
            <td>{{ obj.key }}</td>
            <td>{{ obj.last_modified }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3><form action="/upload" method="post">
        <input type=submit value="RUN REPORT">
    </form></h3>
</body>
</html>